@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@300&family=Workbench&display=swap');


.logo {
    width: 100%;
    height: 15vh;
    background-color: #ED941D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Workbench", sans-serif;;
}